{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmConnect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'home' %}">FarmConnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'courses' %}">Courses </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'bloghome' %}">Blog</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'forumhome' %}">Discussion Forum</a>
        
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'supply-chain_home' %}">Home</a>
        
                  </li>
                <!-- Add more navigation links as needed -->
            </ul>
        </div>
    </nav>
    <style>
        .box{
            
            margin: 0 auto;
            
        }
        
        .navbar {
            background-color: #4e1515; /* Dark brown color, you can change it */
            padding: 1.3rem;
        }

        .navbar-brand {
            color: #ffffff; /* White color, you can change it */
        }

        .navbar-nav a {
            color: #ffffff !important; /* White color, you can change it */
            margin-right: 15px;
        }

        .jumbotron {
            background-color: #ffffff;
            color: #4e1515;
            padding: 20px;
            margin-left: 15%;
            
            
        }
    </style>
</head>
<body>
        <h2 class="jumbotron">
            Currently active forums: {{count}}<hr>
            <form method="POST" action="{% url 'addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add Forum</button>
            </form>
        </h2>
            <div class="card-columns" style="padding: 10px; margin: 20px;"></div>
            
            
            {%for forum in forums %}
            
                <div class="card box container">
                    <br>
                    <h5 class="card-title">
                        <a href='{% url 'forumhome' %}'><h3>{{forum.topic}}</h3></a> 
                        <div class="card-body container">
                                <p>{{forum.description}}</p>
                            </h5>
                            <hr>
                            <p> Comment By: {{forum.name}}</p>
                            email- {{forum.email}}
                            <hr>     
                            <h4>Comments from other users</h4>
                            {%for discuss in discussions%}
                            {%for objs in discuss%}  
                            {% if objs.forum == forum %}
                               {{objs.discuss}}
                               <br>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                            <form method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add Comment</button>
                            </form>
                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}
          
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>